*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* app wrapper */
#app-wrapper {
    
    width: 550px;
    height: 550px;
    background-color: white;
}
/* header */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
}
/* color selector */
#color-selector {
    width: 61px;
    height: 42px;
    padding: 4px;
    border: 1px solid #d1d5db;
    background-color: white;
    cursor: pointer;
}
/* mode selector dropdown list */
#mode-selector{
    width: 312px;
    height: 42px;
    background-color: white;
    color: black;
    padding: 9px 13px;
    cursor: pointer;
}
/* button */
#get-color-btn{
    font-size: 12px;
    width: 123px;
    height: 42px;
    padding: 0px 11px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}
#get-color-btn:hover{
    background-color: #e5e7eb;
}
#get-color-btn:active{
    background-color: #d1d5db;
}
/* color columns containner */
#color-scheme-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 550px;
}

.color-column{
    height: 460px;
}
/* default Colors */
#box1 {
    background-color: #000000;
}
#box2 {
    background-color: #0E1525;
}
#box3 {
    background-color: #1B294B;
}
#box4 {
    background-color: #283E71;
}
#box5 {
    background-color: #345298;
}
/* footer */
#hex-code{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    width: 550px;
    background-color: #d1d5db;
    color: black;
    cursor: pointer;
}
/* pop up message */
#copy-message{
    display: none;
    color: white;
    background-color: #22c55e;
    padding: 10px 18px;
    bottom: 113px;
    left: 720px;
    width: 550px;
    text-align: center;
    position: fixed;
    font-size: 18px;
    font-weight: bolder;
    transform: translateX(-50%);
}
@media(max-width:600px){
    #app-wrapper,
    #header,
    #color-scheme-container,
    #hex-code{
        width: 90vw;
    }
    #mode-selector{
        width: 45vw;
        font-size: 0.85rem;
    }
    #get-color-btn{
        width: 30vh;
        font-size: 0.75rem;
    }
    #copy-message{
        width: 90vw;
        font-size: 0.9rem;
        left: 50%;
        width: 90vw;
        
    }
    .hex-code-tex{
        font-size: 0.25rem;
        overflow: hidden;
    }
    #header{
        display: flex;
        gap: 0.4rem;
    }
}